.content h1, .content table, .todoListButtons {
    margin: .5em 1em;
}

.todoListButtons button, .todoListButtons button:hover {
    padding: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    font-size: 1em;
    transition: background-color .2s, color .2s;;
}

.todoListButtons button {
    border: solid 1px transparent;
    background-color: #1ABC9C;
    color: white;
}

.todoListButtons button:hover {
    border: solid 1px #1ABC9C;
    background-color: transparent;
    color: #1ABC9C;
    cursor: pointer;
}